.header
    i.fa.fa-exchange.fa-lg.toggle-sidebar
    .dropdown.notifications-container
        i.fa.fa-bell.fa-lg.header-icon.toggle-notifications#notifications(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
            .noti-head
                | Notifications 
                span 50
            .noti-content 
                ul.list-unstyled
                    li
                        i.fa.fa-envelope-o.fa-lg 
                        | You Got Email
                    li
                        i.fa.fa-money.fa-lg 
                        | You Got Money
                    li
                        i.fa.fa-thumbs-o-up.fa-lg 
                        | You Got Like
                    li
                        i.fa.fa-envelope-o.fa-lg 
                        | You Got 
                    li
                        i.fa.fa-money.fa-lg 
                        | You Got Money
            .noti-footer.text-center: a(href='#') View All Notifications
        i.fa.fa-expand.fa-lg.toggle-fullscreen.header-icon


    .dropdown.usermenu-container
        .username#usermenu(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            img.avatar.arounded-circle(src="imgs/profile.png", alt="Avtar Img")
            span.user Ali Amer
            i.fa.fa-angle-down.fa-lg
        .dropdown-menu.dropdown-menu-right(aria-labelledby='usermenu')
            .user-info
                h3 Ali Amer
                p Premuim Member
            hr
            ul.activities-list.list-unstyled
                li Added Comments
                li Create Comments
                li Create Post
                li Added Images
                hr
                .row.usermenu-links
                    .col
                        .link-box
                            i.fa.fa-gear.fa-lg.fa-fw
                            span Settings
                    .col
                        .link-box
                            i.fa.fa-user.fa-lg.fa-fw
                            span Profile                    
                    .col
                        .link-box
                            i.fa.fa-power-off.fa-lg.fa-fw
                            span Logout